
<form action="" method="post">
<p>Input a Location:</p>
<input type="text" name="location"></input>
<p>Input a Category:</p>
<input type="text" name="topic"/">
<p><input type="submit" value="Check"></p>
</form>

<p>List:</p>
{% for buzz in tweets %}
-----------------------------------------------------------------------------------<br>	
<div>Buzz: {{buzz.0.0}} Sentiment: {{buzz.0.1}}</div>
{% for tweet in buzz.1 %}
-----------------------------------------------------<br>
Tweet:
<div>{{tweet.1}}</div>
<div>Image: <img src="{{tweet.2}}"></div>
<div>User: {{tweet.0}}</div>
<div>Username: {{tweet.3}}</div>
{% endfor %}
{% endfor %}