
<form action="" method="post">
<p>Input a Location:</p>
<input type="text" name="location"></input>
<p>Input a Category:</p>
<input type="text" name="topic"/">
<p><input type="submit" value="Check"></p>
</form>

<p>Results:</p>
{% for buzz in tweets %}
<table border="1">
<tr>
<th>Buzz: {{buzz.0.0}}</th> <th>Sentiment: {{buzz.0.1}}</th>
</tr>		
{% for tweet in buzz.1|slice:":5" %}
<tr>
<td>Username: {{tweet.3}}</td>
<td>{{tweet.1}}</td>
<td><img src="{{tweet.2}}"></td> 
<td>User: {{tweet.0}}</td> 
</tr>
{% endfor %}
</table>
<br>
{% endfor %}
